body,
html {
    /* 박스의 내용이 넘치면 자르기 */
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* 바깥 여백 */
    margin: 0;
    /* 안쪽 여백 */
    padding: 0;
    font-family: 'Langar', cursive;
}

html{
    background:#333333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* 배경화면 프레임 지정하기 */
@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

body {
    /* 이미지가 찌그러지지 않는 한도 내에서 제일 크게 설정 */
    background-size: cover;
    background-position: center center;
    /* 요소의 불투명도 설정 */
    opacity: 0;
    /* ease-in-out: 애니메이션 속도 지정 */
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    color: #dff9fb;
    display: flex;
    align-items: center;
    /* flex box :  서로 다른 크기의 화면과 기기에서 HTML 요소들이
        자동으로 재정렬되어 웹페이지의 레이아웃을 언제나 똑같이 유지할 수 있게 해준다. */
    /* 수평방향의 정렬 방식 */
    justify-content: center;
  }

  input {
    background: none;
    appearance: none;
    border: 0;
    font-size: 22px;
    color: white;
    border-bottom: 2px solid white;
  }

  input::placeholder {
    color: white;
  }
  
  input:focus,
  input:active {
    outline: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul {
    margin-top: 50px;
  }
  
